[Desktop Entry]
Name=Sticky Window Snapping
Comment=Let snapped window edges stick together when one window is resized.
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Toni Dietze
X-KDE-PluginInfo-Email=sticky-window-snapping@derflupp.e4ward.com
X-KDE-PluginInfo-Name=sticky-window-snapping
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=sticky-window-snapping
X-KDE-ParentComponents=sticky-window-snapping

Type=Service
